header{
    background-color: indigo;
    color: aliceblue;
}
a{color: aliceblue;}
p {color: rgb(94, 9, 173);font-weight: 1000;}
body{
    background: rgb(182, 152, 241);
}
h1 {font-family:cGeorgia, cursive;}
form{
    border-style: dotted;
    color:darkgreen
}