header {
    background-color: black;
    height: 100px;
}
nav:before{
    content:'';
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0%;
    z-index: -1;
}
ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    height: 50px;
}
ul li{
    float: left;
    font-family:Arial, Helvetica, sans-serif;
}
ul li a{
    color:azure;
    display: block;
    height: 60px;
    margin-top: 30px;
    padding: 0 135px;
    text-transform:uppercase;
    text-decoration: none;
    line-height: 50px;
}
h1 { 
    text-align-last: center;
    font-family:Georgia, cursive;
}
.par {
    display: flex;
}
.content {
    background-color: darkslategray;
    height: 400px;
    flex-basis: 80%;
}
section{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section p {
    margin-left: auto;
    margin-right: auto;
    text-align-last: center;
    font-family:Georgia, cursive;
    font-size: larger;
}
.dop-info {
    background-color:cadetblue;
    height: 400px;
    flex-basis: 20%;
}
ol li:hover{
    background-color: bisque;
    color: #000;
}
form{
    color:aliceblue; 
    height: 50px; 
    width: 60px;
    margin-left: 20px;
}
footer {
    background-color: lemonchiffon;
    height: 200px;
    text-align-last: center;
    border-top: 10px;
    padding-top: 20px;
}