header {
    background-color: black;
    height: 100px;
}
nav:before{
    content:'';
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}
ul li{
    float: left;
    font-family: fantasy;
}
.par {
    display: flex;
}
.content {
    background-color: darkslategray;
    height: 400px;
    flex-basis: 80%;
}
.dop-info {
    background-color:cadetblue;
    height: 400px;
    flex-basis: 20%;
}
footer {
    background-color: lemonchiffon;
    height: 200px;
}