html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.contain {
    float: none;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
    background: #f2efe5 center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    line-height: 1;
    color: black;
    background: white;
    min-width: 1500px;
    color: #000000;
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    text-decoration: none;
}
header{
    display: block;
    padding: 27px 0 336px;
    position: relative;
    width: 100%;
    background: url(images/single_slide.jpg) no-repeat center 0;
    background-position: center top;
    background-size: cover;
}
.menu {
    margin: 0 auto;
    padding: 0 369px;
    position: relative;
    width: 1500px;
}
.one {
    float: left;
    margin: 61px 0 0;
    position: relative;
    width: 202px;
}
.home {
    color: #1a1a1a;
    font-size: 12px;
    letter-spacing: -0.015em;
    text-align: center;
    text-transform: uppercase;
}
.about {
    color: #1a1a1a;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.gallery {
    color: #1a1a1a;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1px !important;
}
.hover {
    height: 2px;
    margin: 5px 0 0;
    position: relative;
    width: 41px;
    background: #1a1a1a;
}
.ink-tattoo-logo {
    float: left;
    margin: 0 0 0 49px;
}
.contact {
    float: right;
    margin: 62px 5px 0 0;
    color: #1a1a1a;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.find_us{
    float: right;
    margin: 61px 31px 0 0;
    color: #1a1a1a;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.faq {
    float: right;
    margin: 62px 28px 0 0;
    color: #1a1a1a;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.about-us {
    margin: 0 auto;
    position: relative;
    width: 1500px;
}
.main-content {
    position: relative;
}
.about_us {
    margin: 0 auto;
    position: relative;
    width: 1500px;
}
.two {
    position: relative;
}
.pic_1 {
    float: left;
    margin: 0 84px 0 0;
    padding: 208px 0 192px;
    width: 750px;
    background: url(images/img_studio_bg.jpg) no-repeat;
}
.title_about_us{
    left: 10px;
    margin: 0 auto;
    min-height: 100px;
    position: relative;
    width: 300px;
    border: 10px solid #121212;
    color: #010101;
    font-size: 36px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
}
.two_1 {
    float: left;
    margin: 92px 0 0;
    position: relative;
    width: 545px;
}
.about {
    display: block;
    margin: 0 auto;
}
.text_1 {
    margin: 27px auto 0;
    width: 499px;
    font-size: 1.125rem; /* 18px / 16px = 1.125rem */
    line-height: 1.2;
    text-align: center;
}
.text_2 {
    margin: 26px auto 0;
    font-size: 1rem; /* 16px / 16px = 1rem */
    line-height: 1.2;
}
.about_gallery {
    position: relative;
    width: 1500px;
}
.gallery_1 {
    position: relative;
}
.gallery_1 > * {
    float: left;
}
.gallery_1 > *:last-child {
    margin-right: 0 !important;
}
.gallery_2 {
    position: relative;
}
.gallery_2 > * {
    float: left;
}
.gallery_2 > *:last-child {
    margin-right: 0 !important;
}
.pic_2 {
    position: relative;
    width: 250px;
    background: url(images/img_32.jpg) no-repeat;
}
.hover_1 {
    min-height: 250px;
    padding: 100px 41px 62px 50px;
    position: relative;
    background: rgba(204, 200, 182, 0.66);
  }
.hover_1 > * {
    float: left;
    margin: 0 40px 0 0;
}
.hover_1> *:last-child {
    margin-right: 0 !important;
}
.link {
    margin-top: 62px !important;
}
.column {
    position: relative;
    width: 31px;
    z-index: 0;
}
.zoom {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 197;
}
.cursor {
    display: block;
    margin: -13px auto 0;
    position: relative;
    z-index: 193;
}
.info {
    display: block;
    margin: 25px auto 0;
    position: relative;
    z-index: 195;
}
.like {
    margin-top: 63px !important;
}