body{
    margin: 0;
    color:rgb(16, 46, 46);
    background: antiquewhite;
    transition: all .3s ease;
}
.dark-mode {
    color:antiquewhite;
    background-color:darkslategrey;
}
.btn_1{
    margin-top: 25px;
    padding: 10px 20px;
    background: rgb(3, 45, 38);
    border: none;
    border: 1px solid #ccc;
    text-decoration: none;
    color:antiquewhite;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}
.board{
    width: 100%;
    height: 100%;
}
.btn{
    position: absolute;
    right: 12%;
    top: 55%;
    transition: 0.09s;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: #000;
}
header {
    margin: 0 auto;
    background-color: darkslategrey;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    left: 0%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
    width: 100%;
    display: flex;
}
ul li{
    font-family:Arial, Helvetica, sans-serif;
    flex-basis: 25%;
    text-align: center;
}
ul li a{
    color:antiquewhite;
    font-weight: bold;
    display: flex;
    height: 60px;
    text-transform:uppercase;
    text-decoration: none;
    line-height: 50px;
    width: 100%;
    justify-content: center;
}
h1 { 
    text-align-last: center;
    font-family:Georgia, cursive;
}
.par {
    display: flex;
}
.content {
    height: 1700px;
    flex-basis: 80%;
}
.content div{
    text-align: center;
}
.content div p{
    font-size: large;
    font-weight: bold;
}
section{
    display: block;

}
.content p{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.pic div {
    justify-content: space-around;
}
.dop-info {
    background-color: dimgray;
    height: 1700px;
    flex-basis: 20%;
}
.dop-info h2{
    padding-left: 10px;
}
.dop-info ol li{
    font-family: Georgia;
    font-size: 20px;
}
.dop-info h3{
    padding-left: 10px;
}
ol li:hover{
    background-color:antiquewhite;
    color: #000;
}
form{
    height: 50px; 
    width: 60px;
    margin-left: 20px;
}
footer {
    height: 300px;
    text-align-last: center;
    border-top: 10px;
    padding-top: 20px;
}