header {
    background-color: black;
    margin: 0 auto;
}
.film{
    background-color: darkslategray;
    width: 100%;
    color: azure;
    height: 300px;
}
.film p{
    color: rgb(181, 215, 215);
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}
.text_about{
    background-color: darkseagreen;
    width: 100%;
    color: rgb(22, 62, 62);
    height: 400px;
}
.text_about p{
    color: rgb(6, 39, 39);
    font-size: large;
    font-weight: bold;
    margin-left: 5%;
}
.actor{
    background-color: rgb(28, 81, 97);
    width: 100%;
    color: azure;
    height: 700px;
}
.actor p{
    color:antiquewhite;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.actor_img{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    left: 0%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
    width: 100%;
    display: flex;
}
ul li{
    font-family:Arial, Helvetica, sans-serif;
    flex-basis: 25%;
    text-align: center;
}
li{
    color:azure;
    display: flex;
    height: 60px;
    text-transform:uppercase;
    text-decoration: none;
    line-height: 50px;
    width: 100%;
    justify-content: center;
}
ul li a{
    color:rgb(14, 164, 164);
    display: flex;
    height: 60px;
    text-transform:uppercase;
    text-decoration: none;
    line-height: 50px;
    width: 100%;
    justify-content: center;
}
h1 { 
    text-align-last: center;
    font-family:Georgia, cursive;
}
.par {
    display: flex;
}
.content {
    background-color: darkslategray;
    height: 1700px;
    flex-basis: 80%;
    color: aliceblue;
}
.content div{
    text-align: center;
}
.content div p{
    font-size: large;
    font-weight: bold;
}
section{
    display: block;

}
.content p{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.pic div {
    justify-content: space-around;
}
.dop-info {
    background-color:cadetblue;
    height: 1700px;
    flex-basis: 20%;
}
.dop-info h2{
    padding-left: 10px;
}
.dop-info ol li{
    font-family: Georgia;
    font-size: 10px;
}
.dop-info h3{
    padding-left: 10px;
}
ol li:hover{
    background-color:antiquewhite;
    color: #000;
}
form{
    height: 50px; 
    width: 60px;
    margin-left: 20px;
}
footer {
    background-color:antiquewhite;
    color:darkslategray;
    height: 200px;
    text-align-last: center;
    border-top: 10px;
    padding-top: 20px;
}